.main {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 100vw;
}

.main > * {
  width: 100%;
}

.main > * + * {
  margin-top: 25px;
}

.title {
  margin: 0;
  font-size: 4rem;
  text-align: center;
}
